{% extends 'myapp/layoute.html' %}

{% block title %}Мероприятия - KatanaClub{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Мероприятия KatanaClub</h1>
    <p>В KatanaClub мы регулярно проводим различные мероприятия, посвященные японской культуре и боевым искусствам. Наши события позволяют членам клуба и гостям погрузиться в атмосферу Японии и расширить свои знания.</p>
    <h2 class="mt-4">Ближайшие мероприятия:</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <h5>Мастер-класс по каллиграфии</h5>
            <p>Дата: 15 августа 2024 г. | Время: 15:00</p>
            <p>Изучите искусство японской каллиграфии под руководством мастера.</p>
        </li>
        <li class="list-group-item">
            <h5>Демонстрация техник иайдо</h5>
            <p>Дата: 22 августа 2024 г. | Время: 18:00</p>
            <p>Наши лучшие мастера продемонстрируют технику быстрого извлечения меча.</p>
        </li>
        <li class="list-group-item">
            <h5>Фестиваль японской культуры</h5>
            <p>Дата: 5-6 сентября 2024 г.</p>
            <p>Двухдневный фестиваль, включающий выставки, мастер-классы и выступления.</p>
        </li>
    </ul>
    <p class="mt-4">Следите за нашими анонсами и присоединяйтесь к увлекательному миру японской культуры!</p>
</div>
{% endblock %}