<footer class="bg-dark text-white mt-4">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6">
                <h5>KatanaClub</h5>
                <p>Присоединяйтесь к нам в мире японских боевых искусств!</p>
            </div>
            <div class="col-md-6">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li>Email: info@katanaclub.com</li>
                    <li>Телефон: +7 (123) 456-78-90</li>
                    <li>Адрес: г. Москва, ул. Самурайская, д. 1</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2024 KatanaClub. Все права защищены.</p>
        </div>
    </div>
</footer>