{% extends 'myapp/layoute.html' %}

{% block title %}Главная страница - KatanaClub{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Добро пожаловать в KatanaClub</h1>
    <p>KatanaClub - это уникальное сообщество энтузиастов, объединенных страстью к японскому боевому искусству и культуре меча. Наш клуб предлагает возможность погрузиться в богатую историю и традиции самурайского наследия.</p>
    <p>Здесь вы найдете единомышленников, готовых делиться знаниями и опытом в искусстве владения катаной. Мы проводим регулярные тренировки, мастер-классы и семинары, позволяющие нашим членам совершенствовать свои навыки и углублять понимание философии самураев.</p>
    <p>KatanaClub - это не просто место для тренировок, это настоящее братство, где каждый может найти свой путь воина. Мы уделяем особое внимание развитию не только физических навыков, но и духовному росту наших членов.</p>
    <p>В нашем клубе вы сможете изучить различные техники работы с катаной, познакомиться с историей японского оружия и принять участие в показательных выступлениях. Мы также организуем культурные мероприятия, посвященные японским традициям и искусству.</p>
    <p>Присоединяйтесь к KatanaClub и станьте частью удивительного мира самурайских традиций!</p>
</div>
{% endblock %}