{% extends 'myapp/layoute.html' %}

{% block title %}Тренировки - KatanaClub{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Тренировки в KatanaClub</h1>
    <p>В KatanaClub мы предлагаем разнообразные тренировки для всех уровней подготовки. Наши занятия направлены на развитие физической формы, техники владения мечом и духовного роста.</p>
    <p>Мы проводим регулярные тренировки по следующим направлениям:</p>
    <ul>
        <li>Базовая техника работы с катаной</li>
        <li>Продвинутые приемы и ката</li>
        <li>Медитация и духовные практики</li>
        <li>Физическая подготовка и растяжка</li>
        <li>Спарринги и соревновательная практика</li>
    </ul>
    <p>Наши инструкторы - опытные мастера, которые индивидуально подходят к каждому ученику. Мы верим, что каждый может достичь мастерства в искусстве катаны при правильном подходе и усердных тренировках.</p>
    <p>Присоединяйтесь к нашим тренировкам и станьте частью древней традиции японских воинов!</p>
</div>
{% endblock %}